.netrwhist
.DS_Store

./oh-my-zsh/custom/themes/spaceship-prompt/spaceship.zsh-theme
/Users/stshontikidis/.dotfiles/vim/colors/dracula.vim
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/regexp/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/cursor/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/line/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/root/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/pattern/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/brackets/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/plugins/zsh-syntax-highlighting/highlighters/main/README.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/themes/spaceship.zsh-theme
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/themes/spaceship-prompt/SUMMARY.md
/Users/stshontikidis/.dotfiles/oh-my-zsh/custom/themes/spaceship-prompt/spaceship.zsh-theme
